<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<appSettings>
		<!-- Your PaySimple API UserName. It should start with 'ApiUser' -->
		<add key="Username" value=""/>
		<!-- Your secret PaySimple API Key. We reccommend you store this encrypted in Production -->
		<add key="ApiKey" value="" />
		<!-- The base url of the API instance.  Sandbox=https://sandbox-api.paysimple.com / Production=https://api.paysimple.com-->
		<add key="ApiUrl" value="https://sandbox-api.paysimple.com"/>
	</appSettings>
</configuration>